<div class="container">
    <div class="row">
        <div class="col-md-4">hi</div>
        <div class="col-md-4">hi</div>
        <div class="col-md-4">hi</div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">hi</div>
        <div class="col-md-4">hi</div>
        <div class="col-md-4">hi</div>
    </div>
</div>