<button class="target">Click Here to Scrap!</button>

<h1></h1>
<div class="container">
    <div class="row">
        <div class="articles">
        <div class="notes">

        </div>
  </div>


<div>

</script>